*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
i{
    font-style: normal;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
html{
    font-size: 100px;
}
@media (min-width: 320px) {
    html{
        font-size: 42.667px;
    }
}
@media (min-width:360px){
    html{
        font-size: 48px;
    }
}
@media (min-width:375px) {
    html{
        font-size:50px;
    }
}
@media (min-width:414px) {
    html{
        font-size:55.2px;
    }
}
body,html{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.bigBox{
    width: 7.5rem;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
}